<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.midnightworks.testapp">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<application
		android:name="com.midnightworks.testapp.MainApplication"
		android:allowBackup="true"
		android:icon="@mipmap/icon_app"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/icon_app"
		android:supportsRtl="true"
		android:theme="@style/Theme.Testapp"
		android:usesCleartextTraffic="true"
		android:requestLegacyExternalStorage="true">

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:grantUriPermissions="true"
			android:exported="false"
			tools:replace="android:authorities">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

		<activity
			android:name="com.midnightworks.testapp.activities.CharactersActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="com.midnightworks.testapp.activities.CharacterActivity"
			android:label=""
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoActionBar" />

	</application>

</manifest>